:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
  --color-dark-1: hsl(210, 12%, 6%);
  --color-dark-2: hsl(180, 8%, 12%);
  --color-dark-3: hsl(180, 6%, 15%);
  --color-mid-green: hsl(90, 24%, 24%);
  --color-mid-yellow: hsl(45, 24%, 24%);
  --color-mid-red: hsl(0, 24%, 24%);
  --color-mid-blue: hsl(270, 24%, 24%);
  --color-mid-1: hsl(150, 8%, 42%);
  --color-mid-2: hsl(120, 6%, 66%);
  --color-mid-3: hsl(120, 4%, 69%);
  --color-light-1: hsl(90, 6%, 86%);
  --color-light-2: hsl(90, 4%, 95%);
  --color-light-3: hsl(60, 2%, 98%);
  --color-light-3-a: hsla(60, 4%, 98%, 0.4);
}

* {
  box-sizing: border-box;
  outline: 0;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--color-dark-3);
  transition: all 0.5s;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-light-3);
  color: var(--color-dark-1);
  position: relative;
  /* margin: 0.5rem; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#__next {
  width: 100%;
  height: 100%;
  max-width: 2048px;
  /* outline: 1px solid var(--color-dark-1); */
}

header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  border-bottom: 1px solid var(--color-dark-1);
  min-height: 6em;
  z-index: 10;
  background-color: var(--color-light-3);
}

.search {
  position: absolute;
  top: -6rem;
  left: 0;
  width: 100%;
  height: 6rem;
  margin: 0;
  z-index: 9;
  border-bottom: 1px solid var(--color-dark-1);
}

.search--on {
  top: 0rem;
}

.search > label {
  display: none;
}

.search > input {
  width: 100%;
  height: 100%;
  padding: 1rem 0.5rem;
  border-bottom: none;
  text-align: center;
  background: var(--color-dark-1);
  color: var(--color-light-3);
}

.search > input:focus {
  color: var(--color-dark-1);
}

.headerBar__box {
  display: flex;
  height: 100%;
}

.icon {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon > a {
  width: 1rem;
}

nav {
}

.filterBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0.5rem;
  min-height: 6em;
  border-bottom: 1px solid var(--color-dark-1);
}

main {
  position: relative;
  border-bottom: 1px solid var(--color-dark-1);
}

h1 {
  font-size: 2rem;
}

svg {
}

sup,
sub {
  color: inherit;
}

.error {
  padding: 1rem 0.5rem 2rem 0.5rem;
  text-align: center;
}

.outline {
  outline: 1px solid var(--color-dark-1);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1px;
  min-height: 6rem;
}

.grid--margin {
  margin: 0.5rem 0rem;
}

.grid--center {
  justify-content: center;
  text-align: center;
}

.grid__item025 {
  grid-column: span 6;
}

.grid__item {
  grid-column: 1 / -1;
}

.grid__item--padding {
  padding: 1rem 0.5rem;
  min-height: 6rem;
}

.grid__item2 {
  grid-column: 1 / -1;
}

.grid__itemFull {
  grid-column: 1 / -1;
}

footer {
}

.mainBottomNav {
  width: 100%;
  padding: 1rem 0.5rem;
  min-height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-dark-1);
}

.footerBar {
  width: 100%;
  padding: 1rem 0.5rem 2rem 0.5rem;
  min-height: 6em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footerBar > * {
  margin-bottom: 1rem;
}

.footerBar * {
  word-break: break-all;
}

.footerBar > p {
  margin-top: 0;
}

.newsletter {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--color-dark-1);
  text-align: center;
}

p {
}

a {
  color: inherit;
  text-decoration: underline;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label:has(#available) {
  border-bottom: 1px solid var(--color-dark-1);
}

.form__imagePreview {
  border-top: 1px solid var(--color-dark-1);
  text-align: center;
}

form img {
  width: 100%;
}

fieldset {
  all: unset;
  border-bottom: 1px solid var(--color-dark-1);
  min-height: 6rem;
}

fieldset:last-child {
  border-bottom: none;
}

form > fieldset > label:last-child > input:last-child {
  border-bottom: none;
}

img {
  display: block;
}

label {
  min-height: 3rem;
  padding: 0rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input,
textarea {
  width: 75%;
  height: 3rem;
  padding: 0.5rem;
  color: var(--color-mid-1);
  font-size: 1rem;
  background-color: inherit;
  border-bottom: 1px solid var(--color-light-1);
}

#images {
  border-bottom: none;
  padding-top: 0.75rem;
}

#available {
  height: 1rem;
}

input:focus,
textarea:focus {
  background-color: white;
}

textarea {
  height: 6rem;
}

.imageWrap {
  position: relative;
  height: 100%;
  min-height: 6rem;
}

.imageWrap > button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  color: var(--color-dark-1);
  margin: 0;
}

.imageWrap > button:focus {
  background-color: inherit;
  color: inherit;
}

button {
  padding: 0.5rem 0.8rem;
  height: 2rem;
  margin: 1rem 0.5rem;
  background-color: var(--color-dark-1);
  color: var(--color-light-3);
}

.product__info {
  border-top: 1px solid var(--color-dark-1);
  padding: 1rem 0.5rem;
  min-height: 6rem;
}

.product h4 {
  margin: 0;
}

.productDetail__imgBox > img {
  border-bottom: 1px solid var(--color-dark-1);
  display: block;
}

.productDetail__imgBox > img:last-child {
  border-bottom: 1px solid var(--color-dark-1);
}

.productDetail__editBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  outline: 1px solid var(--color-dark-1);
}

.unavailable {
  cursor: no-drop;
  color: var(--color-light-1);
  fill: var(--color-light-1);
  pointer-events: none;
}

.cc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .grid__item:nth-child(1n) {
    grid-column: span 6;
  }
  .grid__item025 {
    grid-column: span 4;
  }
}

@media screen and (min-width: 768px) {
  .grid__item:nth-child(1n) {
    grid-column: span 4;
  }
  .grid__item2:nth-child(1n) {
    grid-column: span 6;
  }
  .grid__item025 {
    grid-column: span 3;
  }
  .productDetail__imgBox {
    border-right: 1px solid var(--color-dark-1);
    height: 100%;
  }
  .productDetail__imgBox > img:last-child {
    border-bottom: 0px;
  }
}

@media screen and (min-width: 1366px) {
  .grid__item:nth-child(1n) {
    grid-column: span 3;
  }
  .grid__item2:nth-child(1n) {
    grid-column: span 4;
  }
  .grid__item025 {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1920px) {
  .grid__item:nth-child(1n) {
    grid-column: span 2;
  }
}
